.default {
  background-color: #000;
}
.dawn {
  /*background: url("./dawn_beach.jpg") no-repeat center;*/
  background: linear-gradient(#000 ,#a8d, #F8B04F);
}
.noon {
  /*background: url("./dawn_valley_forge.jpg") no-repeat center;*/
  background: linear-gradient(#00bfff,#a8d, #F8B04F);
}
.evening {
  background: linear-gradient(#78d, #a8d,#eeb);
}

.night {
  
}



#clock {
  height: 100px;
  width: 300px;
  /*outline: 5px solid black;*/
  margin: 50vh auto;
  color: black;
  text-align: center;
  font-size: 2em;

}

#clock:hover {
  animation-name: reverse;
  animation-duration: 2s;
}

@keyframes reverse {
0% {
  transform: rotateY(0deg);
  }

50% {
  transform: rotateY(180deg);
  }
100% {
  transform: rotateY(0deg);
}
}
